@use "global" as *;

@if $startFrom ==sp {
  .inner {
    max-width: 600px;
    padding-inline: $padding-sp;
    margin-inline: auto;

    @include mq("md") {
      max-width: $inner + strip-unit($padding-pc) * 2;
      padding-inline: $padding-pc;
    }
  }
}

@else {
  .inner {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-inline: $padding-pc;
    margin-inline: auto;

    @include mq("md") {
      padding-inline: $padding-sp;
    }
  }
}