@use "global" as *;

.contact {
  position: relative;
  overflow-x: clip;
  --_border-radius: calc(50/16*1rem);
  padding-block: rem(60) rem(157);
  border-radius: var(--_border-radius) var(--_border-radius) 0 0;
  background-image: linear-gradient(#f0ecfa 0%, #eff7ff 33.5%, #f0f6f7 69.46%, #f1edfc 100%);

  @include mq("md") {
    --_border-radius: calc(100/16*1rem);
    padding-block: rem(80);
  }
}

.contact__accent {
  position: absolute;
  bottom: rem(20);
  left: rem(-8);
  mix-blend-mode: soft-light;
}

.contact__inner.inner {
  @include mq("md") {
    max-width: 945px;
  }
}

.contact__container {}

.contact__title {}

.contact__wrap {
  margin-top: rem(30);
  display: grid;
  gap: rem(32);

  @include mq("md") {
    max-width: 866px;
    grid-template-columns: calc(401/866*100%) calc(365/866*100%);
    gap: rem(20);
    justify-content: space-between;
  }
}

.contact__text {
  font-size: rem(14);
  line-height: calc(30/14);

  @include mq("md") {
    font-size: rem(16);
    line-height: calc(32/16);
  }
}

.contact__info {
  padding-left: calc(20/430*100vw);
}

.contact__info-head {
  font-size: rem(14);
  line-height: calc(30/14);

  @include mq("md") {
    font-size: rem(15);
    line-height: calc(32/15);
  }
}

.contact__info-tel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--font-bold);
  color: var(--purple);
  letter-spacing: 0.03em;
  max-width: min(356/430*100vw, 356px);
}

.contact__info-tel-head {
  font-size: min(22/430*100vw, rem(22));
  line-height: calc(30/22);

  @include mq("md") {
    font-size: rem(23);
    line-height: calc(30/23);
  }
}

.contact__info-tel-num {
  position: relative;
  top: rem(-4);
  font-size: min(43/430*100vw, rem(43));
  line-height: calc(59/43);

  @include mq("md") {
    font-size: rem(45);
    line-height: calc(61/45);
  }
}

.contact__info-hours {
  font-size: rem(14);
  line-height: calc(19/14);

  @include mq("md") {
    font-size: rem(15);
    line-height: calc(20/15);
  }
}

.contact__form {
  margin-top: rem(38);

  @include mq("md") {
    margin-top: rem(80);
  }
}