@use "global" as *;

.en-accent {
  font-size: rem(117);
  font-weight: var(--font-semi-bold);
  font-family: var(--en-font);
  color: var(--white);
  line-height: calc(117/119);

  @include mq("md") {
    font-size: rem(192);
  }
}