@use "global" as *;

.form {
  font-size: rem(18);
  line-height: calc(32/18);
  display: grid;

  @include mq("md") {}
}

.form__wrap {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid var(--main);

  @include mq("md") {
    grid-template-columns: calc(270/1000*100%) 1fr;
  }
}

.form__wrap:not(:first-child) {
  margin-top: -1px;
}

.form__wrap:not(:last-child) {
  @include mq("md") {
    border-bottom: initial;
  }
}

.form__wrap:has(input),
.form__wrap:has(select) {
  @include mq("md") {
    align-items: center;
  }
}

.form__term {
  background-color: var(--bg-light-green);
  font-weight: var(--bold);
  padding: rem(20);

  @include mq("md") {
    border-right: 1px solid var(--main);
    height: 100%;
    padding: rem(30);
  }
}

.form__term:not(:first-of-type) {
  margin-top: -1px;

  @include mq("md") {
    margin-top: initial;
  }
}

.form__term label {
  display: grid;
  grid-template-columns: repeat(2, fit-content(100%));
  align-items: center;
  gap: rem(15);

  @include mq("md") {
    height: inherit;
  }
}

.form__required {
  background-color: var(--red);
  border-radius: rem(5);
  font-size: rem(14);
  font-weight: var(--regular);
  color: var(--white);
  line-height: calc(30/14);
  padding-inline: rem(10);
}

.form__input {
  padding: rem(20);

  @include mq("md") {
    padding: rem(30);
  }
}

%base-input {
  width: 100%;
  background-color: var(--light-gray2);
  border-radius: rem(10);
  border: 1px solid var(--gray4);
  padding-block: rem(13);
  padding-inline: rem(20);
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: calc(32/16);

  @include mq("lg") {
    padding-inline: rem(20);
  }
}

.form__input input {
  @extend %base-input;
}

.form__input:has([data-name="your-date"]) input {
  width: rem(156);

  @include mq("lg") {
    width: rem(175);
    padding-inline: rem(20)
  }
}

.form__column input {
  @extend %base-input;
}

.form__item {
  padding: rem(20);
}

.form__radio {
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: calc(32/16);
  display: grid;
  grid-template-columns: 1fr;
}

.wpcf7-form-control.wpcf7-radio.form__radio {
  display: grid;

  @include mq("lg") {}
}

.wpcf7-list-item-label:has(a) {
  gap: initial;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
  content: none;
}

.form__item input+span {
  position: relative;
  display: inline-grid;
  place-items: center;
  grid-template-columns: auto 1fr;
  gap: rem(10);
  cursor: pointer;
}

.form__item input+span::before {
  content: "";
  width: rem(24);
  aspect-ratio: 1/1;
  display: block;
  background: var(--light-gray2);
  border: 1px solid var(--gray4);
  border-radius: 50%;
  transition: border-color .3s;
  grid-area: 1 / 1 / 2 / 2;
}

.form__item input+span::after {
  content: "";
  width: rem(12);
  height: rem(12);
  border-radius: 50%;
  background: var(--main);
  opacity: 0;
  transition: opacity .3s, color .3s;
  grid-area: 1 / 1 / 2 / 2;
}

.form__item input:checked+span::before {
  border-color: var(--main);
}

.form__item input:checked+span::after {
  opacity: 1;
}

.form__input textarea {
  @extend %base-input;
  min-height: rem(295);
  width: 100%;
  field-sizing: content;
  resize: none;
  padding: rem(17) rem(20);

  @include mq("lg") {
    min-height: rem(300);
  }
}

.form__text {
  margin-top: rem(30);
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: calc(32/16);

  @include mq("md") {
    margin-top: rem(60);
  }
}

.form__text a {
  color: var(--link);
  text-decoration: underline;
}

.form__back,
.form__send {
  position: relative;
  margin-top: rem(30);
  margin-inline: auto;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: grid;
  align-items: center;

  @include mq("md") {
    margin-top: rem(60);
  }
}

.form__send {
  width: min(100%, rem(380));

  @include mq("md") {
    margin-top: rem(30);
    width: min(100%, rem(600));
  }
}

.form__back {
  width: min(100%, rem(260));

  @include mq("md") {
    width: fit-content;
    min-width: rem(300);
  }
}

.form__back input,
.form__send input {
  min-height: rem(50);
  align-items: center;
  padding-block: rem(8);
  padding-inline: rem(50);
  font-size: rem(16);
  font-weight: var(--bold);
  color: var(--main);
  line-height: calc(29/16);
  text-align: center;
  border-radius: 100vh;
  border: rem(2) solid var(--main);
  background-color: var(--white);
  white-space: pre-line;
  transition: background-color 0.3s ease, color 0.3s ease;

  @include mq("md") {
    padding-block: rem(23) rem(22);
    padding-inline: rem(30);
    font-size: rem(20);
    line-height: calc(30/20);
    border-width: rem(3);
  }
}

.form__back input {
  @include mq("md") {
    padding-inline: rem(70);
  }
}

.form__back::before {
  content: "";
  position: absolute;
  left: calc(22/335*100%);
  background-color: var(--main);
  mask-image: url(../images/common/arrow.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: rem(18);
  aspect-ratio: 18/12;
  transform: scaleX(-1);
  transition: background-color 0.3s ease;

  @include mq("md") {
    left: rem(36);
  }
}

.form__send::after {
  content: "";
  position: absolute;
  right: calc(18/335*100%);
  background-color: var(--main);
  mask-image: url(../images/common/arrow.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: rem(18);
  aspect-ratio: 18/12;
  transition: background-color 0.3s ease;

  @include mq("md") {
    right: rem(74);
  }
}

.form__send input:disabled {
  cursor: not-allowed;
}

.wpcf7-spinner {
  display: none;
}

.form__input input::placeholder {
  color: var(--gray3);
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: calc(32/16);
}

.form__input input:focus-visible,
.form__column input:focus-visible,
.form__input [type=checkbox]:focus-visible,
.form__input select:focus-visible,
.form__input textarea:focus-visible {
  border-color: #76BCF0;
  background-color: #F1F8FD;
  filter: drop-shadow(0 0 rem(5) #82CBFF);
}

.form__input .has-value input {
  border-color: #B7D2C1;
  background-color: var(--bg-light-green);
}

.wpcf7-list-item {
  margin-left: initial;
}

.wpcf7-form-control-wrap {
  display: block;
  line-height: 1;
}

.wpcf7-not-valid-tip {
  margin-top: rem(15);
  font-size: rem(16);
  font-weight: var(--bold);
  color: var(--red);
  line-height: calc(24/16);
}

.form__input:has(.wpcf7-not-valid-tip) input,
.form__input:has(.wpcf7-not-valid-tip) textarea {
  border-color: var(--red);
  background-color: #FFF0F0;
}

.wpcf7-response-output {
  display: none;
}

@media (any-hover: hover) {

  .form__send:hover:has(input:not([disabled])) input,
  .form__back:hover input {
    color: var(--white);
    background-color: var(--main);
    border-color: transparent;
  }

  .form__send:hover:has(input:not([disabled]))::after,
  .form__back:hover::before {
    background-color: var(--white);
  }
}

.form__info {
  margin-top: rem(37);
  font-size: rem(14);
  line-height: calc(30/14);

  @include mq("md") {
    margin-top: rem(54);
    font-size: rem(16);
    line-height: calc(32/16);
  }
}

.form__privacy-policy {
  margin-top: rem(64);
  padding-block: rem(20);
  padding-inline: rem(24);
  height: rem(144);
  overflow-y: auto;
  border-radius: rem(8);
  background-color: var(--white);
  font-size: rem(14);
  font-weight: var(--font-medium);
  line-height: calc(28/14);

  @include mq("md") {
    margin-top: rem(30);
    padding-block: rem(27);
    padding-inline: rem(40);
    height: rem(187);
    font-size: rem(16);
    line-height: calc(30/16);
  }
}

.form__privacy-policy-read {}

.form__privacy-policy-list {
  margin-top: 1lh;
  display: grid;
  gap: 1lh;
}

.form__privacy-policy-item {}

.form__privacy-policy-item-term {}

.form__privacy-policy-item-desc {}