@use "global" as *;

.form {
  font-size: rem(16);
}

.form__wrapper {
  @include mq("md") {
    padding-inline: rem(30);
  }
}

.form__content {
  display: grid;
  gap: rem(16);

  @include mq("md") {
    gap: rem(26);
    max-width: rem(800);
  }
}

.form__wrap {
  display: grid;
  grid-template-columns: 1fr;

  @include mq("md") {
    grid-template-columns: 13em 1fr;
    gap: rem(20);
  }
}

.form__wrap:has(input),
.form__wrap:has(select) {
  @include mq("md") {
    align-items: center;
  }
}

.form__term {
  font-size: rem(14);
  line-height: calc(32/14);

  @include mq("md") {
    position: relative;
    top: calc(-6/16*1em);
    font-size: rem(16);
    line-height: calc(32/16);
  }
}

.form__term:not(:first-of-type) {
  margin-top: -1px;

  @include mq("md") {
    margin-top: initial;
  }
}

.form__wrap:has(textarea) .form__term {
  @include mq("md") {
    top: 1px;
  }
}

.form__term label {
  display: grid;
  grid-template-columns: repeat(2, fit-content(100%));
  align-items: center;
  gap: rem(15);

  @include mq("md") {
    height: inherit;
  }
}

.form__required {
  color: var(--red);
}

.form__input {}

%base-input {
  width: 100%;
  background-color: var(--white);
  border-radius: rem(8);
  padding-block: calc(6/16*1em) calc(7/16*1em);
  padding-inline: 1em;
  font-size: 16px;
  line-height: calc(32/16);

  @include mq("lg") {
    width: min(100%, rem(290));
    padding-inline: rem(20);
  }
}

.form__input input {
  @extend %base-input;
}

.form__input:has([data-name="your-name"]) input {
  @include mq("md") {
    width: min(100%, rem(340));
  }
}

.form__input:has([data-name="your-address"]) input {
  @include mq("lg") {
    min-width: 100%;
  }
}

.form__column input {
  @extend %base-input;
}

.form__item {
  padding: rem(20);
}

.form__radio {
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: calc(32/16);
  display: grid;
  grid-template-columns: 1fr;
}

.wpcf7-form-control.wpcf7-radio.form__radio {
  display: grid;

  @include mq("lg") {}
}

.wpcf7-list-item-label:has(a) {
  gap: initial;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
  content: none;
}

.form__acceptance {
  margin-top: rem(36);
  font-size: rem(14);
  line-height: calc(28/14);
  text-align: center;

  @include mq("md") {
    margin-top: rem(30);
    font-size: rem(16);
    line-height: calc(28/16);
  }
}

.form__acceptance input+span {
  position: relative;
  display: inline-grid;
  place-items: center;
  grid-template-columns: auto 1fr;
  gap: 0.3em;
  cursor: pointer;
}

.form__acceptance input+span::before {
  content: "";
  width: 1em;
  aspect-ratio: 1/1;
  display: block;
  border: 1px solid;
  transition: border-color .3s;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  top: 1px;
}

.form__acceptance input+span::after {
  content: "";
  width: 40%;
  aspect-ratio: 1/2;
  border: 1px solid;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  transform: rotate(-135deg);
  opacity: 0;
  transition: opacity .3s;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  bottom: 1px;

  @include mq("md") {
    // bottom: initial;
  }
}

.form__acceptance input:checked+span::before {}

.form__acceptance input:checked+span::after {
  opacity: 1;
}

.form__input textarea {
  @extend %base-input;
  height: rem(205);
  width: 100%;
  min-width: 100%;
  resize: none;
}

.form__text {
  margin-top: rem(30);
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: calc(32/16);

  @include mq("md") {
    margin-top: rem(60);
  }
}

.form__text a {
  color: var(--link);
  text-decoration: underline;
}

.form__back,
.form__send {
  position: relative;
  margin-top: rem(30);
  margin-inline: auto;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: grid;
  align-items: center;

  @include mq("md") {
    margin-top: rem(60);
  }
}

.form__send {
  width: min(100%, rem(250));
  filter: drop-shadow(0 rem(3) rem(6) rgb(0 0 0 /0.16));

  @include mq("md") {
    margin-top: rem(30);
  }
}

.form__back {
  width: min(100%, rem(250));

  @include mq("md") {
    width: fit-content;
  }
}

.form__back input,
.form__send input {
  // min-height: rem(50);
  // align-items: center;
  padding-block: rem(17) rem(19);
  padding-inline: calc(53/17*1em) calc(44/17*1em);
  font-size: rem(17);
  font-weight: var(--font-bold);
  color: var(--white);
  line-height: calc(34/17);
  text-align: left;
  border-radius: 100vmax;
  background-image: var(--gradient-main);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease;

  @include mq("md") {}
}

.form__back input {}

.form__back::before {
  content: "";
  position: absolute;
  left: calc(22/335*100%);
  background-color: var(--red);
  mask-image: url(../images/common/arrow.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: rem(18);
  aspect-ratio: 18/12;
  transition: background-color 0.3s ease;
}

.form__send::after {
  content: "";
  position: absolute;
  right: calc(45/17*1em);
  background-color: var(--white);
  mask-image: url(../images/icon-arrow-left.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: rem(17);
  aspect-ratio: 17/15;
  transition: transform 0.3s ease;
}

.form__send input:disabled {
  cursor: not-allowed;
}

.wpcf7-spinner {
  display: none;
}

.form__input input::placeholder {
  color: var(--gray3);
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: calc(32/16);
}

.form__input input:focus-visible,
.form__column input:focus-visible,
.form__input [type=checkbox]:focus-visible,
.form__input select:focus-visible,
.form__input textarea:focus-visible {
  border-color: color-mix(in srgb, var(--purple) 50%, var(--white));
  filter: drop-shadow(0 0 rem(5) color-mix(in srgb, var(--purple) 50%, var(--white)));
}

.wpcf7-list-item {
  margin-left: initial;
}

.wpcf7-form-control-wrap {
  display: block;
  line-height: 1;
}

.wpcf7-not-valid-tip {
  margin-top: rem(15);
  font-size: rem(16);
  font-weight: var(--bold);
  color: var(--red);
  line-height: calc(24/16);
}

.form__input:has(.wpcf7-not-valid-tip) input,
.form__input:has(.wpcf7-not-valid-tip) textarea {
  border-color: var(--red);
  background-color: #FFF0F0;
}

.wpcf7-response-output {
  // display: none;
}

@media (any-hover: hover) {

  .form__send:hover:has(input:not([disabled])) input,
  .form__back:hover input {
    transform: scale(1.05);
  }

  .form__send:hover:has(input:not([disabled]))::after,
  .form__back:hover::before {
    transform: scale(1.05) translateX(rem(5));
  }
}

.form__info {
  margin-top: rem(32);
  font-size: rem(14);
  line-height: calc(30/14);

  @include mq("md") {
    margin-top: rem(48);
    font-size: rem(16);
    line-height: calc(32/16);
  }
}

.form__privacy-policy {
  margin-top: rem(26);
  padding-block: rem(16);
  border-radius: rem(8);
  background-color: var(--white);
  font-size: rem(14);
  font-weight: var(--font-medium);
  line-height: calc(28/14);
  height: rem(144);

  @include mq("md") {
    margin-top: rem(26);
    padding-block: rem(22);
    height: rem(187);
    font-size: rem(16);
    line-height: calc(30/16);
  }
}

.form__privacy-policy-inner {
  overflow-y: auto;
  height: 100%;
  padding-inline: rem(24);

  @include mq("md") {
    padding-inline: rem(42);
  }
}

.form__privacy-policy-read {}

.form__privacy-policy-list {
  margin-top: 1lh;
  display: grid;
  gap: 1lh;
}

.form__privacy-policy-item {}

.form__privacy-policy-item-term {}

.form__privacy-policy-item-desc {}