@use "global" as *;

.message {}

.message__inner {}

.message__container {
  position: relative;
  text-align: center;
}

.message__container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(210);
  aspect-ratio: 325/307;
  background-image: url(../images/bg-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include mq("md") {
    top: 67%;
    width: rem(325);
  }
}

.message__title {
  font-size: rem(16);
  font-weight: var(--font-semi-bold);
  font-family: var(--en-font);
  font-style: italic;
  color: var(--light-gray);
  line-height: calc(19/16);

  @include mq("md") {
    font-size: rem(29);
    line-height: calc(34/29);
  }
}

.message__text {
  margin-top: rem(24);
  font-size: rem(16);
  font-weight: var(--font-bold);
  color: #626262;
  line-height: calc(37/16);

  @include mq("md") {
    margin-top: rem(50);
    font-size: rem(26);
    line-height: calc(58/26);
  }
}