@use "global" as *;

.recruit-block {
  padding-block: rem(19);
  padding-inline: rem(23) rem(16);
  border-radius: rem(12);
  background-color: var(--white);

  @include mq("md") {
    padding-block: rem(24);
    padding-inline: rem(35);
  }
}

.recruit-block__title {
  position: relative;
  display: grid;
  grid-template-columns: 1fr rem(13);
  align-items: center;
  gap: 0.5em;
  font-size: rem(16);
  font-weight: var(--font-bold);
  line-height: calc(32/16);
  letter-spacing: 0.05em;
  cursor: pointer;

  @include mq("md") {
    grid-template-columns: 1fr rem(18);
    font-size: rem(23);
    line-height: calc(32/23);
  }
}

.recruit-block__title::before,
.recruit-block__title::after {
  content: "";
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: rem(2);
  background-color: var(--purple);
  transition: transform 0.3s;
}

.recruit-block__title::after {
  transform: rotate(-270deg);
}

.recruit-block.is-opened .recruit-block__title::before {
  transform: rotate(180deg);
  opacity: 0;
}

.recruit-block.is-opened .recruit-block__title::after {
  transform: rotate(0deg);
}

.recruit-block__content {
  overflow: hidden;
}

.recruit-block__inner {
  margin-top: rem(20);
  padding-bottom: rem(12);

  @include mq("md") {
    margin-top: rem(32);
    padding-inline: rem(40);
    padding-bottom: rem(40);
  }
}

.recruit-block__detail {
  display: grid;
  gap: rem(4);
  border-bottom: 1px solid var(--light-gray);
  padding: rem(16) rem(8);

  @include mq("md") {
    grid-template-columns: 1fr calc(715/900*100%);
    gap: rem(20);
    padding: rem(20) rem(25);
  }
}

.recruit-block__detail-term {
  font-size: rem(14);
  font-weight: var(--font-bold);
  line-height: calc(24/14);
  letter-spacing: 0.05em;

  @include mq("md") {
    font-size: rem(16);
    line-height: calc(32/16);
  }
}

.recruit-block__detail-desc {
  font-size: rem(14);
  line-height: calc(24/14);
  letter-spacing: 0.05em;

  @include mq("md") {
    font-size: rem(16);
    line-height: calc(32/16);
  }
}