@use "global" as *;

.recruit {
  --_mask-height: calc(40/430*100vw);
  position: relative;
  overflow-x: clip;
  padding-block: rem(78) rem(103);
  padding-block: min(78/430*100vw, 100px) min(103/430*100vw, 100px);
  background-image: linear-gradient(#513298 0%, #5276bc 31.53%, #679ede 68.47%, #209ba5 100%);
  mask-image: url(../images/bg-recruit-top-sp.svg), url(../images/bg-recruit-square.svg), url(../images/bg-recruit-bottom-sp.svg);
  mask-size: 100% var(--_mask-height), 100% calc(100% - var(--_mask-height) * 2 + 2px), 100% var(--_mask-height);
  mask-repeat: no-repeat;
  mask-position: 0 0, 100% calc(var(--_mask-height) - 1px), 100% 100%;

  @include mq("md") {
    --_mask-height: 120px;
    mask-image: url(../images/bg-recruit-top.svg), url(../images/bg-recruit-square.svg), url(../images/bg-recruit-bottom.svg);
    mask-size: 100% var(--_mask-height), 100% calc(100% - var(--_mask-height) * 2), 100% var(--_mask-height);
  }
}

.recruit__accent {
  position: absolute;
  bottom: rem(5);
  left: rem(36);
  opacity: 0.16;
  // z-index: 1;
}

.recruit__inner.inner {}

.recruit__container {
  position: relative;
  z-index: 2;
}

.recruit__title {}

.recruit__list {
  margin-top: rem(44);
  display: grid;
  gap: rem(23);

  @include mq("md") {
    margin-top: rem(64);
  }
}

.recruit__item {}